<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcD_yD6SkZy5jSzyhTME8Gk3TIAyW7SvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>815967013607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daliantlighting.commissiontool</string>
	<key>PROJECT_ID</key>
	<string>daliant-commission-tool</string>
	<key>STORAGE_BUCKET</key>
	<string>daliant-commission-tool.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815967013607:ios:45087870707a25ccb6b042</string>
</dict>
</plist>